<ion-header>
  <ion-navbar color="sweet">
    <ion-title>
      Contactos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="body">
  
  <ion-card *ngFor="let contacto of contactoService.contactoList"
    (click)="verForm(contacto.idContacto)">
    <ion-card-header>
      <h1 style="color: rgb(64,198,168);">
        {{ contacto.nombre + " " + contacto.apellido}}
      </h1>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <h2 style="font-size: 1.2em;">Telefono: {{ contacto.telefono }}</h2>
        <h2 style="font-size: 1.2em;" >Correo: {{ contacto.correo }}</h2>
        <small>Click aca para mas detalles</small>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="sweet"
    (click)="verForm('nuevo')">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
