<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ encabezado }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label floating>Nombre</ion-label>
            <ion-input type="text"
            name="nombre"
            [(ngModel)]="contacto.nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Apellido</ion-label>
            <ion-input type="text"
            name="apellido"
            [(ngModel)]="contacto.apellido"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Correo</ion-label>
            <ion-input type="text"
            name="direccion"
            [(ngModel)]="contacto.correo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Telefono</ion-label>
            <ion-input type="text"
            name="telefono"
            [(ngModel)]="contacto.telefono"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Categoria</ion-label>
            <ion-select [(ngModel)]="contacto.idCategoria">
              <ion-option *ngFor="let categoria of _categoria.categoriaList" value="{{categoria.idCategoria}}">{{ categoria.nombre}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button
      (click)="guardar()" *ngIf="parametro == 'nuevo'" color="secundary">Agregar</button>
      <button ion-button
      (click)="editar()" *ngIf="parametro != 'nuevo'" color="warning">Guardar cambios</button>
      <button
      *ngIf="parametro != 'nuevo'"
      (click)="eliminar()"
      ion-button color="danger">Eliminar</button>
    </ion-row>
  </ion-grid>
</ion-content>
