<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Contactos" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Categorias" tabIcon="bookmark"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Citas" tabIcon="ios-cafe"></ion-tab>
</ion-tabs>
