<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ encabezado }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label floating>Nombre de la categoria</ion-label>
            <ion-input type="text"
            name="nombre"
            [(ngModel)]="categoriaTemp.nombre"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button
      (click)="nuevaCat()" *ngIf="parametro == 'nuevo'" color="secundary">Agregar</button>
      <button ion-button
      (click)="editCat()" *ngIf="parametro != 'nuevo'" color="warning">Guardar cambios</button>
      <button
      *ngIf="parametro != 'nuevo'"
      (click)="deleteCat()"
      ion-button color="danger">Eliminar</button>
    </ion-row>
  </ion-grid>
</ion-content>