<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-item type="button" color="secundary" left>Menu</button>
    <ion-title>Mi Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-card>
      <ion-card-header><h1 class="text-center">{{usuario.nick}}</h1></ion-card-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label floating>Usuario: </ion-label>
            <ion-input text padding aria-placeholder="Usuario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Contraseña: </ion-label>
            <ion-input text padding aria-placeholder="Contraseña"></ion-input>
          </ion-item>
        </ion-list>
      </ion-content>

    </ion-card>
  </ion-list>
</ion-content>
