<ion-header color="sweet">
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Bienvenido {{usuario}}</h2>
  <p>Aca tienes una vista de tus tareas mas recientes, espero de tiempo de realizarla</p>

  <ion-content>

    <ion-card *ngFor="let tarea of _tarae.tareaList">
      <ion-card-header>
         <h1 style="color: rgb(64,198,168);">{{tarea.nombre}}</h1>
      </ion-card-header>
      <ion-card-content>
        <h3>Fecha: {{ tarea.fechaFormat }}</h3>
        <h3>Prioridad: {{ tarea.nombrePrioridad}}</h3>
        <small>Has click para ver mas detalles</small>
      </ion-card-content>
    </ion-card>

  </ion-content>